//! **************************************************************************
// Written by: Map P.20131013 on Wed Sep 02 22:56:21 2020
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "P80" LEVEL 1;
COMP "i0" LOCATE = SITE "P83" LEVEL 1;
COMP "i1" LOCATE = SITE "P82" LEVEL 1;
COMP "i2" LOCATE = SITE "P81" LEVEL 1;
COMP "y0" LOCATE = SITE "P16" LEVEL 1;
COMP "y1" LOCATE = SITE "P15" LEVEL 1;
COMP "y2" LOCATE = SITE "P12" LEVEL 1;
COMP "y3" LOCATE = SITE "P11" LEVEL 1;
COMP "y4" LOCATE = SITE "P9" LEVEL 1;
COMP "y5" LOCATE = SITE "P8" LEVEL 1;
COMP "y6" LOCATE = SITE "P6" LEVEL 1;
COMP "y7" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

